/* Report styling written by: Devon Ackerman
                           Crafted for PECmd
                      devon@aeiforensics.com
                    Last Updated: 2016.03.04
-------------------------------------------- */

/* If value is empty, then hide container */	
:empty {
	display:none !important;
}

Container {
	width: 1400px;
	height: auto;
	border: medium #146B99 solid;
	resize: both;
	overflow: auto;
	min-width: 50px;  /* min-width  */
	min-height: 50px; /* min-height */
	display: block;
	padding: 0;
	margin: 10px;
	background-color: #E9F0F4;
}

	/* Remove comment tags to show .PF before and above path statement
	Container:before {
	  display: block;
	  width: auto;
	  font-weight: bold;
	  font-size: 24px;
	  content: ".PF File";
	  background-color: #146B99;
	  color: #F18C14;
	  padding: 2px 0 0 2px;
	  margin: 0;
	}
	*/

	SourceFile {
		display: block;
		width: auto;
		font-weight: bold;
		font-size: 16px;
		background-color: #146B99;
		color: #FFBD6F;
		padding: 0;
		margin: 0;
	}
	    
	SourceCreated, SourceModified, SourceAccessed, LastRun, PreviousRun0, PreviousRun1, PreviousRun2, PreviousRun3, PreviousRun4, PreviousRun5, PreviousRun6, ExecutableName, RunCount, Size, Hash, Version, Note, Volume0Name, Volume0Serial, Volume0Created, Volume1Name, Volume1Serial, Volume1Created, Directories, FilesLoaded {
		display: block;
		width: auto;
		color: #043F5F;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: normal;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: left;
		padding: 2px 0 0 34px;
		margin: 4px 0 4px 0;
	}
	
	SourceCreated:before {
		content: "Source Created:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 20px 0 2px;
		margin: 2px 0 4px 0;
	}
		/* Remove comment tags to show (UTC) after timestamp
		SourceCreated:after {
			content: " (UTC)";
			color: #A6A8A9;
		}
		*/

		SourceCreated:hover {
			content: " (UTC)";
			color: #A6A8A9;
		}
	
	SourceModified:before {
		content: "Source Modified:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 15px 0 2px;
		margin: 2px 0 4px 0;
	}
		/* Remove comment tags to show (UTC) after timestamp
		SourceCreated:after {
			content: " (UTC)";
			color: #A6A8A9;
		}
		*/
	
	SourceAccessed:before {
		content: "Source Accessed:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 10px 0 2px;
		margin: 2px 0 4px 0;
	}
		/* Remove comment tags to show (UTC) after timestamp
		SourceCreated:after {
			content: " (UTC)";
			color: #A6A8A9;
		}
		*/
	
	LastRun:before {
		content: "Last Run:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 73px 0 2px;
		margin: 2px 0 4px 0;
	}
		/* Remove comment tags to show (UTC) after timestamp
		LastRun:after {
			content: " (UTC)";
			color: #A6A8A9;
		}
		*/
	
	PreviousRun0:before {
		content: "Previous Run 0:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 18px 0 2px;
		margin: 2px 0 4px 0;
	}
	
	PreviousRun1:before {
		content: "Previous Run 1:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 18px 0 2px;
		margin: 2px 0 4px 0;
	}
	
	PreviousRun2:before {
		content: "Previous Run 2:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 18px 0 2px;
		margin: 2px 0 4px 0;
	}
	
	PreviousRun3:before {
		content: "Previous Run 3:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 18px 0 2px;
		margin: 2px 0 4px 0;
	}
	
	PreviousRun4:before {
		content: "Previous Run 4:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 18px 0 2px;
		margin: 2px 0 4px 0;
	}
	
	PreviousRun5:before {
		content: "Previous Run 5:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 18px 0 2px;
		margin: 2px 0 4px 0;
	}
	
	PreviousRun6:before {
		content: "Previous Run 6:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 18px 0 2px;
		margin: 2px 0 4px 0;
	}
	
	ExecutableName:before {
		content: "Executable Name:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 10px 0 2px;
		margin: 2px 0 4px 0;
	}
		/* Remove comment tags to show a note on report that matches hover tool tip
		RunCount:after {
			content: " (Note: The name of the executable tracked by the pf file";
			color: #A6A8A9;
		}
		*/
	RunCount:before {
		content: "Run Count:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 10px 0 2px;
		margin: 2px 0 4px 0;
	}

	Size:before {
		content: "Size:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 10px 0 2px;
		margin: 2px 0 4px 0;
	}
		/* Remove comment tags to show a note on report that matches hover tool tip
		Size:after {
			content: " (Note: size in bytes of executable)";
			color: #A6A8A9;
		}
		*/
	
	Hash:before {
		content: "Hash:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 10px 0 2px;
		margin: 2px 0 4px 0;
	}
		/* Remove comment tags to show a note on report that matches hover tool tip
		Hash:after {
			content: " (Note: The calculated hash for the pf file that should match the hash in the source file name)";
			color: #A6A8A9;
		}
		*/
	
	Version:before {
		content: "Version:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 10px 0 2px;
		margin: 2px 0 4px 0;
	}
		/* Remove comment tags to show a note on report that matches hover tool tip
		Version:after {
			content: " (Note: The operating system that generated the prefetch file)";
			color: #A6A8A9;
		}
		*/
	
	Note:before {
		content: "Note:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 10px 0 2px;
		margin: 2px 0 4px 0;
	}
		Note:after {
			content: " (Note: Populated when >2 volumes are identified in a prefetch file. This is rare.)";
			color: #A6A8A9;
		}
	
	Volume0Name {
		color: maroon;	
	}
		/* Remove comment tags to show a note on report that matches hover tool tip
		Volume0Name:after {
			content: " (Note: The first volume name found)";
			color: #A6A8A9;
		}
		*/
		Volume0Name:before {
			content: "Volume 0 Name:";
			display: inline;
			letter-spacing: 1pt;
			line-height: 1;
			word-spacing: 2pt;
			font-weight: bold;
			font-size: 12px;
			font-family: verdana, sans-serif;
			text-align: right;
			text-decoration: underline;
			padding: 2px 10px 0 2px;
			margin: 2px 0 4px 0;
		}

	Volume0Serial {
		color: maroon;	
	}
		/* Remove comment tags to show a note on report that matches hover tool tip
		Volume0Serial:after {
			content: " (Note: Serial # of the first volume)";
			color: #A6A8A9;
		}
		*/
		Volume0Serial:before {
			content: "Volume 0 Serial:";
			display: inline;
			letter-spacing: 1pt;
			line-height: 1;
			word-spacing: 2pt;
			font-weight: bold;
			font-size: 12px;
			font-family: verdana, sans-serif;
			text-align: right;
			text-decoration: underline;
			padding: 2px 10px 0 2px;
			margin: 2px 0 4px 0;
		}

	Volume0Created {
		color: maroon;	
	}
		Volume0Created:before {
			content: "Volume 0 Created:";
			display: inline;
			letter-spacing: 1pt;
			line-height: 1;
			word-spacing: 2pt;
			font-weight: bold;
			font-size: 12px;
			font-family: verdana, sans-serif;
			text-align: right;
			text-decoration: underline;
			padding: 2px 4px 0 2px;
			margin: 2px 0 4px 0;
		}
		/* Remove comment tags to show a note on report that matches hover tool tip
		Volume0Created:after {
			content: " (Note: Volume created timestamp)";
			color: #A6A8A9;
		}
		*/
			
	Volume1Name:before {
		content: "Volume 1 Name:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 10px 0 2px;
		margin: 2px 0 4px 0;
	}
	
	Volume1Serial:before {
		content: "Volume 1 Serial:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 10px 0 2px;
		margin: 2px 0 4px 0;
	}

	Volume1Created:before {
		content: "MAC Vendor:";
		display: inline;
		letter-spacing: 1pt;
		line-height: 1;
		word-spacing: 2pt;
		font-weight: bold;
		font-size: 12px;
		font-family: verdana, sans-serif;
		text-align: right;
		text-decoration: underline;
		padding: 2px 18px 0 2px;
		margin: 2px 0 4px 0;
	}

	div {
	    -webkit-column-count: 3; /* Chrome, Safari, Opera */
	    -moz-column-count: 3;    /* Firefox */
	    column-count: 3;
	} 
		
	Directories {
		line-height: 1.4;
		background-image: url(directories.png);
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 30px 44px
	}
		Directories:before {
			content: "Directories:";
			display: inline;
			letter-spacing: 1pt;
			font-weight: bold;
			font-size: 12px;
			font-family: verdana, sans-serif;
			text-align: right;
			text-decoration: underline;
			padding: 2px 10px 0 2px;
			margin: 2px 0 4px 0;
		}
		/* Remove comment tags to show a note on report that matches hover tool tip
		Directories:after {
			content: " (Note: A comma separated list of all directories accessed by the executable)";
			color: #A6A8A9;
		}
		*/

	FilesLoaded{
		line-height: 1.4;
		background-image: url(filesloaded.png);
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 30px 44px
	}
		FilesLoaded:before {
			content: "Files Loaded:";
			display: inline;
			letter-spacing: 1pt;
			line-height: 1;
			word-spacing: 2pt;
			font-weight: bold;
			font-size: 12px;
			font-family: verdana, sans-serif;
			text-align: right;
			text-decoration: underline;
			padding: 2px 10px 0 2px;
			margin: 2px 0 4px 0;
		}
		/* Remove comment tags to show a note on report that matches hover tool tip
		FilesLoaded:after {
			content: " (Note: A comma separated list of all files that were loaded by the executable)";
			color: #A6A8A9;
		}
		*/